* {
    max-height: 98vh;

    font-family: sans-serif;
}

div {
    background: gray;
    border: solid black 1px;
}

#wrapper {
    width: 100%;
    height: 98vh;

    display: grid;
    grid-template-columns: 70% 30%;
}

#input {
    display: grid;
    grid-template-rows: 85% 15%;
}

#values {
    display: grid;
    grid-template-columns: 50% 50%;
}

#controller {
    display: grid;
    grid-template-columns: 20% 80%;
}

#power-slider-container {
    display: flex;
    align-items: center;
}

#power {
    height: 80%;
    width: 100%;
    writing-mode: vertical-lr;
    direction: rtl;
}

#joystick {
    padding: 5%;
}

#joystick-area {
    aspect-ratio: 1 / 1;
    width: 80%;
    max-height: 80%;
    border-radius: 50%;
    background: lightgrey;

    display: flex;
    align-items: center;
    justify-content: center;
}

#joystick-marker {
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    position: relative;
}

#constants input {
    width: 50px;
}

#output {
    font-size: 20px;
    height: 100%;
    display:flex; 
    flex-direction: column-reverse; 
    overflow: hidden;
}

#output div {
    padding-left: 5px;
}

#output * {
    font-family: monospace;
}

#drone {
    font-size: 17px;

    display: flex;
    justify-content: space-between;
}

#drone span {
    font-size: 19px;
}

#drone div {
    width: 100%;
}

#drone div:nth-child(2) p {
    text-align: center;
}